.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
	color: #fff;
}


body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	background: url(../img/background.jpg) no-repeat top center;
	color: #fff;
	background-color: #070707;
	min-width: 960px;
}

.main-header {
	background-color: #000;
}

.container {
	margin: 0px auto;
	width: 940px;
	padding: 0px 10px;
}

.main-navigation {
	float: left;
	width: 780px;
	padding: 30px 0px;
}

.main-navigation ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #f7f4f1;
	text-transform: uppercase;
	margin-right: 40px;
}

.user-block a,.main-navigation ul li a {
	text-decoration: none;
}

.user-block {
	float: right;
	max-width: 140px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #f7f4f1;
	padding: 30px 0px;
}

.row-first-block {
	width: 920px;
	margin: 0 auto;
}

.logo {
	padding-top: 40px;
	margin: 0 auto;
	width: 376px;
}

.first-row {
	width: 300px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.second-row {
	width: 300px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;

}

.therd-row {
	width: 300px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;

}

.first-row p {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;
	line-height: 24px;
}

.second-row p {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;
	line-height: 24px;
}

.therd-row p {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;
	line-height: 24px;
}

.user-content {
	width: 940px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 55px 80px;
	text-align: left;
	font-size: 30px;
	background: #f6f3f0;
	color: black;
	font-weight: bold;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.news {
	width: 440px;
	float: left;

}

.news b {
	text-transform: uppercase;

}

.photo-gallery {
	width: 300px;
	float: right;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;

}

.item-news {
	margin-top: 37px;
	font-size: 18px;
	line-height: 24px;
}

.images-photo-gallery {
	margin-top: 45px;
}

.images-photo {
	padding-bottom: 50px;
}
 .control-gallery {
	margin-top: 70px;
	display: inline-block;
	margin: 0 auto;
 }


.date {
	margin-top: 15px;
	font-size: 14px;
	font-weight: 400;
}

.button-all-news {
	margin-top: 30px;
}

.btn {
	background: #000000;
	color: #fff;
	border: 0px;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	vertical-align: top;
}

.btn1 {
	background: #000000;
	color: #fff;
	border: 0px;
	width: 40px;
	height: 40px;
	font-size: 14px;

}

.contacts-block {
	background: #fbf8f5;
	color: #000;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 55px 80px;
	width: 940px;
	margin: 0 auto;
	box-sizing: border-box;
}

.contacts {
	width: 440px;
	float: left;
}

.enroll {
	width: 300px;
	float: right;
}

.buttons-contacts {
	margin-top: 60px;
}

.input-form {
	display: inline-block;
	width: 140px;
	height: 40px;
	border: solid 2px #000;
	margin-top: 20px;
}

.forms {
	margin-bottom: 25px;
}

footer {
	background: url(../img/footer.jpg) center;
}
.foot {
	width: 940px;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 45px;
}
.adress {
	float: left;
	width: 313px;	
}

.social-networks {
	float: left;
	width: 313px;	
}

.developer {
	float: left;
	width: 313px;	
}


.foot {
	font-size: 18px;
	line-height: 24px;
}

.social-networks p {
	text-align: center;
	margin-bottom: 20px;
}

.networks {
	margin: 0 auto;
	width: 260px;
	font-size: 18px;
}

.soc {
	height: 16px;
}

.button-developer {
	display: inline-block;
	background: #000000;
	color: #fff;
	border: 0px;
	font-size: 14px;
	padding: 8px 33px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	vertical-align: top;
	float: right;
}

.developer p {
	margin-left: 150px;
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

.buttons-social-networks {
	display: inline-block;
	margin-left: 25px;
	width: 140px;
	padding: 0px 40px;
	
}
 .contact-info {
 	padding-bottom: 62px;
 }