
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="form">
            <h1>LogIn</h1>
            <div class="login_form">
                <form method="post" action="/Admin/Verify">
                    <input type="hidden" name="lastDateTimeSession">
                    <input type="text" name="login" placeholder="Login">
                    <input type="password" name="password" placeholder="Password">
                    <input id="Login" type="submit" value="Login" class="Login">
                </form>
            </div>
            <span class="footer">Copyright &#169; <a href="https://www.vk.com/roma_philomela">Roman Solovyev</a></span>
        </div>
    </div>
</body>
</html>
