
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservation Successfully</title>
    <link rel="stylesheet" type="text/css" href="../../Content/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../Content/main.css">
    <script src="../../Content/js/jquery-3.4.1.min.js"></script>
    <script async src="../../Content/js/timer.js"></script>
</head>
<body>
    <div class="notification">
        <h1 class="reserve_title">
            Your reservation has been successfully confirmed.
        </h1>
        <h2 class="reserve_mail">
            Thank you for being with us!<br>
            You will be redirected to the home page ...
        </h2>
        <p class="timer_mail">Thanks for the confirmation! You will be redirect on <b>Home Page...</b><span class="seconds">10</span></p>
    </div>
</body>
</html>
