
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../Content/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../Content/main.css">
    <script src="../../Content/js/jquery-3.4.1.min.js"></script>
    <script src="../../Content/js/jquery-ui.min.js"></script>
    <script async src="../../Content/js/calendar.js"></script>
    <script async src="../../Content/js/dateformat.js"></script>

</head>

<body>
    <header class="clearfix">
        <div class="wrapper clearfix">
            <nav class="clearfix">
                <div class="menu_social_networks clearfix">
                    <p class="name_site"><a href="http://*">SUBTONE</a></p>
                    <div class="social_networks_block_header">
                        <a href="#"><img src="../../Content/img/instagram.png" alt=""></a>
                        <a href="#"><img src="../../Content/img/facebook.png" alt=""></a>
                        <a href="#"><img src="../../Content/img/twitter.png" alt=""></a>
                    </div>
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
        </div>
        <div class="slide">
            <div class="slogan">
                <div class="social_networks_block_header_mobile">
                    <a href="#"><img src="../../Content/img/instagram.png" alt=""></a>
                    <a href="#"><img src="../../Content/img/facebook.png" alt=""></a>
                    <a href="#"><img src="../../Content/img/twitter.png" alt=""></a>
                </div>
                <h1>Subtone<br> Studio Moscow</h1>
                <button>Booking</button>
            </div>
        </div>
    </header>
    <article>
        <div class="wrapper">
            <div class="about clearfix">
                <h2>What we do</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </article>
    <div class="calendar clearfix">
        <div class="wrapper clearfix">
            <a id="booking_cal"></a>

            <h2>Booking calendar</h2>
            <p class="choose_studio">Choose studio and day:</p>
            <div class="calendar_block">
                <div class="studios clearfix">
                    <button id="select_studioOne">Studio01</button>
                    <button id="select_studioTwo">Studio02</button>
                    <button id="select_studioThree">Studio03</button>
                </div>
                <div id="datepicker" class="clearfix">
                </div>

            </div>

            <div class="time_free">
                <p>Choose your free time:</p>
                <a id="booking_form"></a>
                <div id="time_choise">
                    <button id="08:00-10:00" class="td_choise">08:00-10:00</button>
                    <button id="10:00-12:00" class="td_choise">10:00-12:00</button>
                    <button id="12:00-14:00" class="td_choise">12:00-14:00</button>
                    <button id="14:00-16:00" class="td_choise">14:00-16:00</button>
                    <button id="16:00-18:00" class="td_choise">16:00-18:00</button>
                    <button id="18:00-20:00" class="td_choise">18:00-20:00</button>
                    <button id="20:00-22:00" class="td_choise">20:00-22:00</button>
                    <button id="22:00-00:00" class="td_choise">22:00-00:00</button>
                    <button id="00:00-02:00" class="td_choise">00:00-02:00</button>
                    <button id="02:00-04:00" class="td_choise">02:00-04:00</button>
                    <button id="04:00-06:00" class="td_choise">04:00-06:00</button>
                </div>
                <input type="submit" disabled value="Booking" class="booking_submit">
                <div class="popup_booking">
                    <div class="content_popup">
                        <div class="form_inputs">
                            <a id="form_inp"></a>
                            <form method="post" action="/Home/Reserve">
                                <p class="info_check">
                                    Check entered data.
                                </p>
                                <input id="date" type="hidden" value="" name="date" />
                                <input class="timeBusy" type="hidden" value="" name="timeBusy" />
                                <input class="studioId" type="hidden" value="" name="studioId" />
                                <input class="Name_Person" type="text" name="NamePerson" value="" placeholder="Your name">
                                <input class="Surname_Person" type="text" name="SurnamePerson" value="" placeholder="Your surname">
                                <input class="Phone_Person" type="text" name="PhoneNumber" value="" placeholder="Your phone">
                                <input class="Email_Person" type="email" name="EmailAdress" value="" placeholder="EmailAdress">
                                <textarea class="MessagePerson" name="MessagePerson" placeholder="Your message" rows="5"></textarea>
                                <input id="finish_booking" type="submit" value="Finish Booking" class="finish_Book">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="contacts clearfix">
        <div class="wrapper clearfix">
            <h2>Contact</h2>
            <div class="contacts_box clearfix">
                <div class="adress">
                    <h3>Adress</h3>
                    <p>Arbat st. 20 Moscow, Russia</p>
                </div>
                <div class="contact_us">
                    <h3>Contact us</h3>
                    <p>+7 (495) 123 45 67 studio@subtone.com</p>
                </div>
            </div>
            <div class="opening_house">
                <h3>Opening hours</h3>
                <p>Mon - Fri 10:00 - 00:00 </p> <p>Sat - Sun: 11:00 - 23:00</p>
            </div>
            <div class="comments_box clearfix">
                <form method="post" action="/Home/FeedBack" class="feedbacks clearfix">
                    <p class="info_check_feedback">Check entered data.</p>
                    <input class="name_sendor" name="nameSender" type="text" placeholder="Name">
                    <input class="email_form" name="emailSender" type="email" placeholder="Email">
                    <textarea class="comment_message" name="commentMessage" placeholder="Message" cols="48" rows="7"></textarea>
                    <input id="send_feedback" class="send_booking" type="submit" value="Feedback">
                </form>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7552.322003674108!2d37.57840558726325!3d55.75296461105145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bb34d644c67%3A0x4666bf5bc9bd0924!2z0YAt0L0g0JDRgNCx0LDRgiwg0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1568987268719!5m2!1sru!2sru" width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <footer>
        <div class="wrapper clearfix">
            <div class="copyright"><p>© 2019 SUBTONE SARL LTD</p></div>
            <div class="social_networks_block">
                <a href="#"><img src="../../Content/img/instagram.png" alt=""></a>
                <a href="#"><img src="../../Content/img/facebook.png" alt=""></a>
                <a href="#"><img src="../../Content/img/twitter.png" alt=""></a>
            </div>
            <div class="copyright-mobile"><p>© 2019 SUBTONE SARL LTD</p></div>
        </div>
    </footer>
</body>
</html>
