
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booking completion</title>
    <link rel="stylesheet" type="text/css" href="../../Content/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../Content/main.css">
    <script src="../../Content/js/jquery-3.4.1.min.js"></script>
    <script async src="../../Content/js/timer.js"></script>
</head>
<body>
    <div class="notification">
        <h1 class="reserve_title">
            Thank you for your reservation.
        </h1>
        <h2 class="reserve_mail">
            You need to confirm the reservation by the email address you provided earlier.<br>
            A confirmation email has already been sent to your mail. Just follow the link. <br>
            You will be redirected to the home page ...
        </h2>
        <p class="timer_mail">Thanks for Reservation! You will be redirect on <b>Home Page...</b><span class="seconds">15</span></p>
    </div>
</body>
</html>
