.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Arial', sans-serif;
}
header {
	background: url(../img/bgheader.jpg) no-repeat center top / cover;
}
.heading {
	width: 1100px;
	height: 750px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}
.menu {
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}
.menu_bar {
	display: block;
}
.menu_bar li {
	float: left;
	margin-right: 30px;
	list-style-type: none;
}
.menu_bar li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 17px;
}
.callme {
	margin-top: 500px;
	margin-left: -80px;
}
.uslugi {
	width: 1366px;
	height: 750px;
	margin: 0 auto;
}
.sectiontwo {
	background: url(../img/sectiontwo.jpg) no-repeat center top / cover;
	background-size: 100%;
	height: 750px;
}
.sectiontwo1 {
	margin: 0 auto;
	width: 1366px;
}
.sectiontwo2 {
	margin: 0 auto;
	width: 1366px;
}
.sectiontwo3 {
	margin: 0 auto;
	width: 1366px;
}
.sectiontwo h1 {
	padding-top: 30px;
	text-align: center;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 33px;
}
.sectiontwo1 img {
	float: left;
	margin-top: 70px;
}
.sectiontwo2 img {
	float: left;
	margin-top: 100px;
}
.sectiontwo3 img {
	float: left;
	margin-top: 100px;
}
.sectiontwo1 h2 {
	float: left;
	margin-top: 100px;
	margin-left: 50px;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 24px;
}
.sectiontwo2 h2 {
	float: left;
	margin-top: 125px;
	margin-left: 50px;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 24px;
}
.sectiontwo3 h2 {
	float: left;
	margin-top: 125px;
	margin-left: 50px;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 24px;
}
section#spisokuslug {
	background: url(../img/sectionthree.jpg) no-repeat center top / cover;
	width: 100%;

	padding-bottom: 60px;
}
.sectionthree {
	width: 1366px;
	margin: 0 auto;
	height: 750px;

}
.sectionthree h1 {
	padding-top: 30px;
	margin-left: 575px;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 33px;
}
.sectionthree img {
	float: left;
	margin-left: 270px;
	margin-top: 40px;
}
.sectionthree2 img {
	-float: left;
	-margin-left: 317px;
	margin-top: 45px;
}
.sectionthree3 img {
	-float: left;
	-margin-left: 317px;
	margin-top: 40px;
}
.sectionthree1text h2 p {
	float: left;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 24px;
}
.sectionthree1text h2 {
	margin-bottom: -30px;
}
.sectionthree1text {
	float: left;
	margin-top: 30px;
	margin-left: 100px;
}
.sectionthree1 p {
	padding: 30px 30px 30px 30px;
	background-color: #e08a36;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: 25px;
	color: #323232;
	font-size: 20px;
}
.sectionthree2text h2 p {
	float: left;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 24px;
}
.sectionthree2text h2 {
	margin-bottom: -30px;
}
.sectionthree2text {
	float: left;
	margin-top: 30px;
	margin-left: 100px;
}
.sectionthree2 p {
	padding: 30px 30px 30px 30px;
	background-color: #e08a36;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: 25px;
	color: #323232;
	font-size: 20px;
}
.sectionthree3text h2 p {
	float: left;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 24px;
}
.sectionthree3text h2 {
	margin-bottom: -30px;
}
.sectionthree3text {
	float: left;
	margin-top: 30px;
	margin-left: 100px;
}
.sectionthree3 p {
	padding: 30px 30px 30px 30px;
	background-color: #e08a36;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: 25px;
	color: #323232;
	font-size: 20px;
}
.about {
	width: 1366px;
	height: 1000px;
	margin: 0 auto;
}
.comments {
	width: 80%;
	margin: 0 auto;
}
.comments img {
	width: 250px;
	margin-top: 10px;
	float: left;
}
.about h1 {
	padding-top: 30px;
	margin-left: 570px;
	color: #323232;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 33px;
}
blockquote {
margin: 30px 0px 0px 300px;
background: #ffffff;
color: #131314;
padding: 70px 30px 80px 150px;
position: relative;
font-family: 'Lato', sans-serif;
}
blockquote:before {
content: "\201C";
font-family: serif;
position: absolute;
top: 50px;
left: 16px;
color: black;
width: 40px;
height: 40px;
border-radius: 50%;
background: #9dd5f2;
font-size: 40px;
font-weight: bold;
text-align: center;
line-height: 50px;
}
blockquote:after {
content: "";
margin-top: 50px;
width: 4px;
height: 100px;
background: #9dd5f2;
position:absolute;
left: 70px;
top: 20px;
bottom: 20px;
}
blockquote p {
margin-top: 0;
font-size: 24px;
font-weight: 300;
padding-bottom: 20px;
}
blockquote cite {
font-style: normal;
text-transform: uppercase;
}
footer {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background: url(../img/footer.jpg) no-repeat center top / cover;
}
.footerour {
	width: 1366px;
	margin: 0 auto;
}
.footerimg {
	float: left;
	margin: 40px 40px 0px 0px;
}
.footertext {
	display: inline-block;
	padding-top: 40px;
	color: #323232;
	text-decoration: none;
	-text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	width: 50%;
}

.footercontacts {
  float: right;
	padding-top: 40px;
	color: #fb8200;
	-text-transform: uppercase;
	font-size: 25px;
}
.socseti {
	padding-top: 100px;
	margin: 0 auto;
}
